DOCTYPE 
   html 
      head 
         title File upload
         style.
            body {
               width:auto;
               background-color:red;
               display:flex;
               flex-direction:column;
               align-items:center;
               color:#fff;
            }
            form {
               width:400px;
               margin:20px auto;
               border:2px solid silver;
               padding:100px;
            }
            .data {
               position:relative;
               left:30px;
               top:10px;
            }
            input[type="submit"] {
               width:auto;
               border:none;
               font-size:20px;
            }
      body
         form(action="/upload-file" method="post" id='form')
            input(type="file" name="upfile" id="upfile",required) 
            input(type="submit" value="upload" id='submit-btn')
         div 
            p#data1
            p#data2
            p#data3
      script. 


         document.getElementById('form').addEventListener('submit',submit)


         async function submit(e){
            e.preventDefault()
            const file = document.getElementById('upfile')
            if(Boolean(file.files.length)){
            let formData =  new FormData()
            const fileInput = file.files[0]

            formData.append('file',fileInput) 

            const results = await fetch('https://filemetadata-prpm.onrender.com/upload-file',{method:'POST',body:formData})

            const  response = await results.json()
            let data1 = document.getElementById('data1')
            data1.textContent = response.name
            let data3 = document.getElementById('data2')
            data2.textContent = response.type
            let data3 = document.getElementById('data3')
            data3.textContent = response.size
            
            
            
            console.log(response)



               document.querySelector('form').reset();
            } else {
               console.log('please upload a file')
            }
            }


